<%- contentFor('title') %>
Anasayfa

<%- contentFor('body') %>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <% sliders.forEach(function (slider, i) { %>
            <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%=i === 0 ? 'active' : ''%>>"></li>
        <% }) %>
    </ol>

    <div class="carousel-inner" role="listbox">
        <% sliders.forEach(function (slider) { %>
            <div class="item active" alt="">
                <img src="uploads/<%= slider.resim%>" >
            </div>
        <% }) %>
    </div>
</div>
