<%- contentFor('title') %>
portfoy

<%- contentFor('body') %>

    <div style="overflow:auto; margin-bottom:20px;">

        <div class="col-md-4">
            <% prtfy.forEach(function(item){ %>
                <div class="col-md-4">
                        <h4><%= item.baslik %></h4>
                        <div><a data-title="<%= item.aciklama %>">
                            <img src="uploads/<%= item.resim %>"/>
                             </a>
                        </div>
                        <div style="margin-top:20px;">
                            <button type="submit" class="btn btn-info"><a href="_yorumekle">Yorum Ekle</a></button>
                        </div>
                 </div>
                        <% }); %>

         </div>
    </div>
