<%- contentFor('title') %>
Sizden Gelenler

<%- contentFor('body') %>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12">
            <% szdngln && szdngln.forEach(function(item){ %>
            <h4><a href="#"><%= item.baslik %></a></h4>
            <p class="text-danger">
                <i class="fa fa-clock-o"></i>
                <%= item.tarih %>

                <%= item.firma %>
                <i class="fa fa-building"></i> <%= item.firma %>
                <%= item.adsoyad %>
                <i class="fa fa-user"></i> <%= item.adsoyad %>

            </p>
            <div class="row info-list">
                <div class="col-sm-12>">
                    <p><%= item.metin %></p>
                </div>
                <div style="margin-left: 1000px;">
                    <a href="_yorumekle" class="btn btn-lg btn-info">Yorum Ekle</a>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>
