<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bireysel Referans</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
</head>
<section id="icerik" class="buyuk">
    <% yazi.forEach(function(item){ %>
     <div class="panel panel-default"> 
        <div class="panel-body">
            <div class="col-md-12">
                  <h4><a href="<?=$yazilar['link'];?>"><%=item.baslik%></a></h4>
                  <p class="text-danger">
                      <i class="fa fa-clock-o"></i>
                      <%=item.tarih%>
                    <i class="fa fa-user"></i> <%=item.adi%>
                  </p>
                  <div class="row info-list">
                    <div class="col-sm-12>">
                    <p><%=item.giris%></p>
                    <%=item.metin%>
                        <p class="pull-right"><a class="btn btn-default" href=#> Devamı <i class="fa fa-angle-right"></i> </a> 
                    </p>
                    <% }); %>
                        </div>
                  </div>
            </div>
          </div>
    </div>
    <?php }//foreach ?>
    
</section>