<%- contentFor('title') %>
Yazılar

<%- contentFor('body') %>
<section id="icerik" class="buyuk">
    <% yazi.forEach(function(item){ %>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <h4><a><%= item.baslik %></a></h4>
                <p class="text-danger">
                    <i class="fa fa-clock-o"></i>
                    <%= item.tarih %>
                    <i class="fa fa-user"></i> <%= item.adi %>
                </p>
                <div class="row info-list">
                    <div class="col-sm-12>">
                        <p><%= item.giris %></p>
                        <%= item.metin %>
                        
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>